.step {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.step-one {
  justify-content: flex-start;
  top: 0;
  position: relative;

  &.center {
    justify-content: center;
  }

  .button-container {
    position: relative;
    display: block;
    left: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
    padding: 30px;
    border: 2px solid #0d9648;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  }

  .video {
    width: 700px;
    margin-bottom: 30px;
  }

  .heading {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .start-action {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .start-button {
    outline: none;
    position: relative;
    text-decoration: none;
    width: 400px;
    align-items: center !important;
    background: #0d9648;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    padding: 25px 25px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    svg {
      display: block;
      transform: scaleX(-1);
    }

    p {
      font-size: 25px;
      font-weight: 550;
    }
  }

  .use-microphone {
    text-decoration: none;
    outline: none;
    background: transparent;
    height: 100%;
    border: none;
    cursor: pointer;
  }

  .back {
    position: absolute;
    top: 10%;
    left: 20%;
    background: transparent;
    outline: none;
    border: 2px solid black;
    padding: 10px 10px 6px;
    border-radius: 50%;
    cursor: pointer;
  }
}
