.main {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  padding: 40px;
}

.section {
  max-width: 1400px;
  background: #fbfbfb;
  height: 100%;
  width: 100%;
  padding: 20px;
}
